apscheduler
boto3>=1.12.21
coreapi
coverage
django-computedfields>=0.1.5
django-cors-headers
django-elasticsearch-dsl-drf
# Can't go above 6.X without upgrading elasticsearch
django-elasticsearch-dsl==6.5.0
django-filter
django>=3.2.5
djangorestframework-hstore
djangorestframework>=3.11.2
drf_yasg>=1.20.0
elasticsearch-dsl<7.0.0
Jinja2>=2.11.3
# We need at least 1.1 because of https://github.com/pallets/markupsafe/issues/57
markupsafe>=1.1
psycopg2-binary
pyyaml>=5.4
requests>=2.23.0
six
sqlparse>=0.4.2
urllib3>=1.24.2
